@inherits LayoutComponentBase
@inject IPersonService PersonService
@inject NavigationManager NavigationManager

<div class="page">
    @if (PersonService.IsUserLoggedIn())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="top-row px-4">
            <button @onclick="Logout">Log Out</button>
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // Metode til at logge ud brugeren og navigere til login-siden
    private async Task Logout()
    {
        await PersonService.Logout();
        NavigationManager.NavigateTo("/login");
        // evt tilføj , forceLoad: true hvis det ikk virker efter /login
    }
}