@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @if (!IsLoginPage()) // Hvis vi ikke er på login siden, så viser vi sidebar
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <!-- Den øverste "bar" med "log out" == fører bare til login page !.PT.! (skal man logge ud..?)-->
    <main>
        <div class="top-row px-4">
            <a href="login">Log Out</a>
        </div>


        <!-- Aner ikk hvad det her gør, er her når man laver blazor-projektet og det fjerner absolut alting -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<!-- isLoginPage == /login path -->
@code {
    private bool IsLoginPage()
    {
        string currentUrl = NavigationManager.Uri;
        return currentUrl.Contains("/login");
    }
}
