@using VagtplanApp.Client.Services
@inject IPersonService mService  <!-- Inject her eller i kode blok????-->

@if (PersonService.IsLoggedIn())
{
    <div class="top-row ps-3 navbar navbar-dark"> 
        <!-- Din eksisterende navbar kode -->
    </div>

    @if (PersonService.IsKoordinator())
    {
        <div class="nav-item">
            <NavLink class="nav-link" href="/koordinator-side">
                Koordinator sider
            </NavLink>
        </div>
    }
    else
    {
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <!-- Din eksisterende frivillig navigation -->
            </nav>
        </div>
    }
}

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
