@using VagtplanApp.Client.Services
@inject IPersonService PersonService
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <!-- Topbar med applikationens navn og en knap til navigationsmenuen -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VagtplanApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


@if (isUserLoggedIn) // Viser navigationselementer kun hvis brugeren er logget ind
{
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            @if (isKoordinator) // Viser forskellige links baseret på om brugeren er koordinator
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="koordinator-oversigt">
                        <span class="oi oi-list" aria-hidden="true"></span> Oversigt
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="koordinator-opret-vagter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Opret Vagter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="koordinator-profil">
                        <span class="oi oi-person" aria-hidden="true"></span> Profil
                    </NavLink>
                </div>
            }
            else if (!isKoordinator)
            {
                <div class="nav-item">
                    <NavLink class="nav-link" href="/frivillig-mine-vagter">
                        <span class="oi oi-list" aria-hidden="true"></span> Mine Vagter
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="/frivillig-tag-vagter">
                        <span class="oi oi-list" aria-hidden="true"></span> Tag Vagter
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="/frivillig-profil">
                        <span class="oi oi-person" aria-hidden="true"></span> Profil
                    </NavLink>
                </div>
            }
        </nav>
    </div>
}


@code {
    private bool collapseNavMenu = true;
    private bool isUserLoggedIn;
    private bool isKoordinator;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // Skifter visningen af navigationsmenuen
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        isUserLoggedIn = await PersonService.IsUserLoggedInAsync(); // Tjekker om brugeren er logget ind
        isKoordinator = PersonService.IsKoordinator(); // Tjekker om brugeren er koordinator
    }
}
