@using VagtplanApp.Client.Services
@inject IPersonService PersonService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">VagtplanApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if (PersonService.IsUserLoggedIn())
{
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            @if (PersonService.IsKoordinator())
            {
                <div class="nav-item">
                    <NavLink class="nav-link" href="/koordinator-side">Koordinatorprofil</NavLink>
                </div>
            }
            else if (!PersonService.IsKoordinator())
            {
                <div class="nav-item">
                    <NavLink class="nav-link" href="/frivillig-Profil">Frivillig profil</NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="/frivillig-Profil">Frivillig side</NavLink>
                </div>
            }
        </nav>
    </div>
}


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
