@page "/coordinator-create-shifts"
@using VagtplanApp.Shared.Model

<h1 class="mb-3 mt-3">Opret vagt</h1>

<!-- Viser fejlmeddelse ved ugyldig tid på vagt -->
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<!-- Formular til at indtaste og indsende oplysninger om en ny vagt -->
<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@AddShift">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-6 mb-3">
        <label for="dato">Dato</label>
        <input type="date" id="dato" @bind="shift.date" class="form-control" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="start-dato">Start tid</label>
        <input type="time" id="start-dato" @bind="shift.startTime" class="form-control" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="slut-dato">Slut tid</label>
        <input type="time" id="slut-dato" @bind="shift.endTime" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="antalPersoner">Antal Personer</label>
        <InputNumber id="AntalPersoner" @bind-Value="shift.numberOfPersons" class="form-control" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="prioriity">Prioritet</label>
        <select id="priority" @bind="shift.priority" class="form-control">
            <option value="Lav">Lav</option>
            <option value="Normal">Normal</option>
            <option value="Høj">Høj</option>
        </select>
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilføj</button>
    </div>

</EditForm>

@code {
    // Fields:
    private Shift shift = new Shift();
    private EditContext aEditContext;
    private ModalDialog modalRef { get; set; }
    private string errorMessage = string.Empty; // Tilføjet for fejlhåndtering


    [Inject] // Henter service-klassen
    private IShiftService mService { get; set; }

    // Initialiserer en ny vagt og dens tilhørende EditContext ved indlæsning af siden.
    protected override void OnInitialized()
    {
        aEditContext = new EditContext(shift);
        StateHasChanged();
    }

    // Funktion for opret vagt
    private async Task AddShift()
    {
        if (shift.startTime >= shift.endTime)
        {
            errorMessage = "Starttiden skal være før sluttiden.";
            return;
        }

        await mService.CreateShift(shift);
        shift = new Shift(); // Resetter objektet for at kunne oprette en ny vagt
        errorMessage = string.Empty; // Rydder fejlmeddelelsen
    }
}