@page "/frivillig-mine-vagter"
@using VagtplanApp.Client.Services

<h3>Mine vagter</h3>

@if (vagter == null)
{
    // Viser en ventemelding, mens vagter indlæses fra serveren.
    <p><em>Henter vagter...</em></p>
}
else if (!vagter.Any())
{
    // Viser en besked, hvis brugeren ikke har nogen tildelte vagter.
    <p>Du har ikke ingen vagter.</p>
}
else
{
    // Skaber en tabel, der viser brugerens vagter.
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Start Tid</th>
                <th>Slut Tid</th>
                <th>Antal Personer (tildelt/total)</th>
                <th>Fjern vagt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in vagter)
            {
                <tr>
                    <td>@shift.date.ToString("dd:MM")</td>
                    <td>@shift.startTime.ToString("HH:mm")</td>
                    <td>@shift.endTime.ToString("HH:mm")</td>
                    <td>@shift.assignedPersons.Count/@shift.numberOfPersons</td>
                    <td> <svg xmlns="http://www.w3.org/2000/svg" @onclick="() => RemovePersonFromShift(shift.id)" width="24" height="24" viewBox="0 0 8 8"><path fill="#900" d="M4 0C1.79 0 0 1.79 0 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zM2.5 1.78L4 3.28l1.5-1.5l.72.72L4.72 4l1.5 1.5l-.72.72L4 4.72l-1.5 1.5l-.72-.72L3.28 4l-1.5-1.5l.72-.72z" /></svg></td>
                </tr>
            }
        </tbody>
    </table>
}

@if (showError)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

@code {
    // Fields:
    private List<Shift>? vagter;
    private string errorMessage = "";
    private bool showError = false;

    [Inject] // Henter service-klassen
    private IShiftService mService { get; set; }

    // ---------------------------------------------------------------------------------------------------------------------------------------

    // Henter alle vagter ved indlæsning af side
    protected override async Task OnInitializedAsync()
    {
        vagter = await mService.GetShiftsForVolunteer();
    }

    // Fjerner en person fra en vagt og opdaterer listen.
    private async Task RemovePersonFromShift(string shiftId)
    {
        var shift = vagter.FirstOrDefault(s => s.id == shiftId);
        if (shift != null && !shift.IsLocked)
        {
            await mService.RemovePersonFromShift(shiftId);
            vagter = await mService.GetShiftsForVolunteer(); // Opdatérer listen af vagter
        }
        else
        {
            // Viser fejlmeddelelse
            errorMessage = "Denne vagt er låst og kan ikke fjernes.";
            showError = true; // Denne bool bestemmer, om en fejlmeddelelse vises i UI
        }
    }
}
