@page "/frivillig-tag-vagter"
@using VagtplanApp.Client.Services


<h3>Vælg Vagter</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>StartTid</th>
            <th>SlutTid</th>
            <th>MinAlder</th>
            <th>AntalPersoner</th>
            <th>Tag vagt</th>
        </tr>
    </thead>
    <tbody>

        <!--Viser bookings udfra det som vælges i dropdown-menu-->
        @foreach (var vagter in vagterList)
        {
            <tr>
                <td>@vagter.startTime</td>
                <td>@vagter.endTime</td>
                <td>@vagter.minAge</td>
                <td>@vagter.numberOfPersons</td>
                <td> <svg xmlns="http://www.w3.org/2000/svg" @onclick="() => TakeShift(vagter.id)" width="25" height="25" viewBox="0 0 8 8"><path fill="currentColor" d="M4 0C1.79 0 0 1.79 0 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zm2 1.78l.72.72L3.5 5.72L1.78 4l.72-.72l1 1L6 1.78z" /></svg> </td>

            </tr>
        }
    </tbody>
</table>

@code {
    private List<Vagter> vagterList = new List<Vagter>(); // Tom liste til at gemme bookings

    [Inject]
    private IVagterService mService { get; set; }

    protected override async Task OnInitializedAsync()
    {

        vagterList = (await mService.GetAllVagter());

    }

    private async Task TakeShift(string vagtId)
    {
        await mService.UpdateVagt(vagtId);
    }

}