@page "/frivillig-mine-vagter"
@using VagtplanApp.Client.Services


<h3>Mine vagter</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>StartTid</th>
            <th>SlutTid</th>
            <th>MinAlder</th>
            <th>AntalPersoner</th>
        </tr>
    </thead>
</table>

@code {
}