@page "/koordinator-oversigt"
@using VagtplanApp.Client.Services
@using VagtplanApp.Shared.Model


<h1 class="mb-3 mt-3">Oversigt over vagter</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Start Tid</th>
            <th>Slut Tid</th>
            <th>Antal Personer</th>
            <th>Rediger Vagt</th>
        </tr>
    </thead>
    <tbody>

        <!--Viser bookings udfra det som vælges i dropdown-menu-->
        @foreach (var vagter in vagterList)
        {
            <tr>
                <td>@vagter.date</td>
                <td>@vagter.startTime.ToString("HH:mm")</td> 
                <td>@vagter.endTime.ToString("HH:mm")</td>
                <td>@vagter.numberOfPersons</td>
                @*<td> <svg xmlns="http://www.w3.org/2000/svg" @onclick="() => DeleteBooking(booking.Id)" width="24" height="24" viewBox="0 0 8 8"><path fill="#900" d="M4 0C1.79 0 0 1.79 0 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zM2.5 1.78L4 3.28l1.5-1.5l.72.72L4.72 4l1.5 1.5l-.72.72L4 4.72l-1.5 1.5l-.72-.72L3.28 4l-1.5-1.5l.72-.72z" /></svg></td> *@

            </tr>
        }
    </tbody>
</table>

@code {
    private List<Shift> vagterList = new List<Shift>(); 

    [Inject]
    private IShiftService mService { get; set; }



    protected override async Task OnInitializedAsync()
    {

        vagterList = (await mService.GetAllShifts());

    }
}
