@page "/koordinator-opret-vagter"
@using VagtplanApp.Client.Services
@using VagtplanApp.Shared.Model


<h1 class="mb-3 mt-3">Opret vagt</h1>

<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@AddShift">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-6 mb-3">
        <label for="dato">Dato</label>
        <input type="date" id="dato" @bind="shift.date" class="form-control" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="start-dato">Start tid</label>
        <input type="time" id="start-dato" @bind="shift.startTime" class="form-control" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="slut-dato">Slut tid</label>
        <input type="time" id="slut-dato" @bind="shift.endTime" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="antalPersoner">Antal Personer</label>
        <InputNumber id="AntalPersoner" @bind-Value="shift.numberOfPersons" class="form-control" required />
    </div>
    <div class="col-md-6 mb-3">
        <label for="prioriity">Prioritet</label>
        <select id="priority" @bind="shift.priority" class="form-control">
            <option value="Lav">Lav</option>
            <option value="Normal">Normal</option>
            <option value="Høj">Høj</option>
        </select>
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilføj</button>
    </div>
</EditForm>


@code {
    private Shift shift = new Shift();
    private EditContext aEditContext;
    private ModalDialog modalRef { get; set; }

    [Inject]
    private IShiftService mService { get; set; }

    private async Task AddShift()
    {
        await mService.CreateShift(shift);
        shift = new Shift();  //Dette peger på nyt id, så man kan oprette flere vagter
    }

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(shift);
    }
}